@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Прив</h1>
    <p>Это напакостил <a href="https://github.com/deltaDelete">я</a>.</p>
    <img class="gosling" src="https://sun9-17.userapi.com/impg/t7TuUjlgOQ501MsVDR9Si_ttXuvdYU-3rLtMvw/3NAulJTJUG4.jpg?size=1280x970&quality=96&sign=57bd9022720ebd751799b6d527b5c746&type=album" />
</div>
